﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div>

    <input type="text" id="userNameTxt" placeholder="Username" name="Name" />
    <input type="password" id="passwordTxt" placeholder="Password" name="Name" />
    <button type="submit" onclick="onLoginBtn()" class="btn_orange btn_md-140">Login</button>
    <p id="tokenValue"></p>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script>
    function onLoginBtn() {
        debugger;
        document.getElementById("tokenValue").innerText = "";
        var userName = $("#userNameTxt").val();
        var passWord = $("#passwordTxt").val();
        $.ajax({
            type: "POST",
            url: "/Login/UserLogin",
            data: { userName: userName, password: passWord },
            dataType: "json",
            async: false,
            cache: false,
            success: function (response, data) {
                var result = $.parseJSON(response)
                var resValue = $('#tokenValue');
                var html = '';
                html += 'AuthToken: ' + result.token + '<br>Message: ' + result.response;
                resValue.append(html);
            },
            error: function (err) {
                var resValue = $('#tokenValue');
                var html = '';
                html += err.status + ' ' + err.statusText;
                resValue.append(html);
            }
        });
    }

</script>